<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAY</title>
    <link rel="stylesheet" href="./css/base.css">
</head>
<body>
<div id="app">
    <!--搜索-->
    <div class="header-search">
        <input type="text" @input="search" placeholder="请输入要搜索的歌曲名称">
    </div>
    <div class="loading-wrap" v-show="list.length === 0">
        <div class="first-loading"></div>
        <div>
            <br>加载中，请稍后...</br>
        </div>
    </div>
    <!--列表-->
    <div class="music-list">
        <div class="item"
             :class="{active: v.songid === playing.songid}"
             v-if="v.show"
             v-for="(v,index) in list"
             @click="toPlay(index)">
            <div class="title">
                <span class="index">{{index + 1}}.</span> {{v.title}}
            </div>
            <small class="user">{{v.author}}</small>
        </div>
    </div>
    <!--播放器-->
    <div class="player-wrap">
        <div class="player-item" v-if="playing">
            <div class="pic"><img :src="playing.pic" alt=""></div>
            <audio controls ref="Audio" :src="playing.url"></audio>
        </div>
    </div>
</div>
<script src="./libs/vue.min.js"></script>
<script src="./libs/axios.min.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            list: [],
            playing: null,
        },
        created() {
        },
        async mounted() {
            this.getList()
        },
        methods: {
            getList() {
                const url = `./music/musicList.json?timestamp=${Date.now()}`
                axios.get(url).then(res => {
                    this.list = res.data.map(item => {
                        item.show = true
                        item.url = `./music/musics/${item.path}`
                        return item
                    })
                    this.playing = Object.assign({}, this.list[0])

                    // 播放完毕之后自动播放下一首
                    this.$nextTick(() => {
                        const audio = this.$refs.Audio
                        // 播放完毕
                        audio.onended = e => {
                            const playing = this.playing
                            let index = null
                            let len = this.list.length
                            this.list.forEach((item, i) => {
                                if (item.songid === playing.songid) {
                                    index = i
                                }
                            })
                            if (index + 1 === len) {
                                this.toPlay(0)
                            } else {
                                this.toPlay(index + 1)
                            }
                        }
                    })
                }).catch(e => {
                    console.log(e)
                })
            },
            toPlay(index) {
                const item = this.list[index]
                const audio = this.$refs.Audio
                if (this.playing.songid === item.songid && !audio.paused) {
                    this.$nextTick(() => {
                        this.$refs.Audio.pause()
                    })
                } else {
                    this.playing = Object.assign({}, item)
                    this.$nextTick(() => {
                        audio.addEventListener("canplaythrough", function() {
                            setTimeout(() => {
                                audio.play();
                            },500)
                        }, false);
                        audio.load();
                    })
                }


            },
            search(e) {
                const val = e.target.value
                this.list.forEach(item => {
                    if (item.title.includes(val)) {
                        item.show = true
                    } else {
                        item.show = false
                    }
                })
            }
        }
    })

</script>
</body>
</html>
